h1 {
  color: green;
  font-style: normal;
}
li {
  color: black;
  padding-top: 3px;
  font-size: 15px;
  margin-left: 20px;
}
ul {
  font-size: 2pc;
}
.places {
  border: 1px solid rgb(30, 39, 84);
}
